<div class="row">
    <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
                    
        <a href="{% url 'article:detail' article.id %}"><h3 class="mt-4">{{article.title}}</h3></a><p class="lead">{{article.author.username}} tarafından oluşturuldu</p> 
                <!--üst url için href /articles/article/{{article.id}}-->        
        <div class="text-muted fst-italic mb-2" style="margin-top: 14px;","color:red">{{article.created_date}}</div>
                        
            <p class="lead" style="margin-top: 40px;">
                {{article.content|safe|truncatewords:20}} <!--html içeriği normal gözüksün için safe filter ekledik-->
            </p>
            <a href="{% url 'article:detail' article.id %}" class="btn btn-success" style="padding: 5px;">Devamını Oku</a>
                
            {% if article.article_image %}
            <a href="{% url 'article:detail' article.id %}"><img class="img-fluid rounded"src="{{ article.article_image.url }}" alt=""></img></a>  <!--resmimiiz url adresine ulaştık-->
            
            {% endif %}
            <hr>
            <a href= "{% url 'article:update' article.id %}" class ="btn btn-danger">Güncelle</a>       
        </div>
    </div>            
</div>
