<!DOCTYPE html> 
{% load static %}  <!--static klasörünü dahil ettik-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  <!--css dosyasını dahil ettik-->
    <title>Blog</title>
</head>
<body style="background-color:#FFE4C4;">
        {% include "includes/navbar.html" %} <!--navbar ımızı dahil ettik-->
        
        
        
        <div style = "margin-top : 130px; margin-bottom: 70px;"class = "container" >
        
            {% if messages %}
            
                {% for message in messages %}
                {% if message.tags == "info" %}
                <div  class = "alert alert-danger">{{ message }}</div>
                {% else %}
                <div  class = "alert alert-{{ message.tags }}">{{ message }}</div>
                {% endif %}
                {% endfor %}
            
            {% endif %}
            
            
            {% block body %}
                
                
            {% endblock body %}
            
            
            
        </div>
    
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  <!--js dosyalarını dahil ettik-->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script> <!--google code prettify js i -->
</body>
</html>