{% extends "layout.html" %}

{% block body  %}
{% load crispy_forms_tags %}  <!--crispy filtre kullanacağımızı djangoya söyledik -->
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Makale Güncelle</h3>
        <form method="POST" enctype="multipart/form-data">     
            {% csrf_token %}

            {{ form.media }} <!--ckeditörü otuside of admin kısmında gösterdik-->
            {{ form|crispy }} <!--ckeditörü otuside of admin kısmında gösterdik-->
            
            <button type="submit" class="btn btn-danger">Bitir</button>
            
        </form>
        <hr>
    </div>
</div>
{% endblock body %}